/* * { */
/*     border: 1px solid black; */
/* } */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh; /* if supported */
    min-height: 100vh; /* default fallback */
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#logo {
    margin-top: 20px;
    width: 200px;
    max-width: 50%;
    height: auto;
}

#profile_picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border: 1px black solid;
}


h1 {
    margin: 0;
    padding: 2vh;
}
h3 {
    margin: 0 auto 1em;
}

p {
    max-width: 800px;
    padding: 0 4vh 0;
    margin: .5em 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    padding: 50px 2vh 10px;
    font-size: 0.8em;
}
